html,body {
	margin: 0;
}

body {
	background-color: #FF7F00;
	
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.centered {
	text-align: center; 
	position:relative; 
	top:15%;
}

#leftcol {
	float: left;
	width: 300px;
}

#main {
	margin: 0px;
}

#centercol {
	margin: 50px 310px 0 310px;
}

#rightcol {
	float: right;
	width: 300px;
}

#footer {
	text-align: center;
}

#footerbr {
	clear: both;
}

